@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --button-text-font-family: "Outfit", Helvetica;
  --button-text-font-size: 16px;
  --button-text-font-style: normal;
  --button-text-font-weight: 600;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: normal;
  --content-2-font-family: "Futura", Helvetica;
  --content-2-font-size: 16px;
  --content-2-font-style: normal;
  --content-2-font-weight: 500;
  --content-2-letter-spacing: 0px;
  --content-2-line-height: normal;
  --content-font-family: "Futura", Helvetica;
  --content-font-size: 14px;
  --content-font-style: normal;
  --content-font-weight: 500;
  --content-letter-spacing: 0px;
  --content-line-height: normal;
  --cool-gray50: rgba(249, 250, 251, 1);
  --drip-2: 0px 5px 22.700000762939453px 0px rgba(0, 0, 0, 0.15);
  --h2-semi-bold-font-family: "Rethink Sans", Helvetica;
  --h2-semi-bold-font-size: 20px;
  --h2-semi-bold-font-style: normal;
  --h2-semi-bold-font-weight: 600;
  --h2-semi-bold-letter-spacing: 0px;
  --h2-semi-bold-line-height: 24px;
  --h3-font-family: "Rethink Sans", Helvetica;
  --h3-font-size: 16px;
  --h3-font-style: normal;
  --h3-font-weight: 700;
  --h3-letter-spacing: 0px;
  --h3-line-height: 24px;
  --screen-bg-color: rgba(246, 246, 246, 1);
  --shadow: 0px 0.7512931227684021px 3.6312501430511475px 0px
    rgba(89, 108, 148, 0.04), 0px 6px 29px 0px rgba(2, 162, 254, 0.25);
  --text-font-family: "Rethink Sans", Helvetica;
  --text-font-size: 16px;
  --text-font-style: normal;
  --text-font-weight: 500;
  --text-letter-spacing: 0px;
  --text-line-height: 24px;
  --title-3-font-family: "Outfit", Helvetica;
  --title-3-font-size: 20px;
  --title-3-font-style: normal;
  --title-3-font-weight: 600;
  --title-3-letter-spacing: 0px;
  --title-3-line-height: normal;
  --yellow: rgba(255, 201, 71, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
